In [2]:
import pandas as pd

In [ ]:
# apply

In [4]:
df = pd.read_csv("8-apply_function_data.csv")
df

    Employee_ID     Name Department  Salary  Experience  Performance_Score
0             1    Emp_1  Marketing   82251           6                  5
1             2    Emp_2      Sales   52662          24                  3
2             3    Emp_3    Finance   38392           5                  3
3             4    Emp_4      Sales   60535          20                  3
4             5    Emp_5      Sales  108603           2                  2
..          ...      ...        ...     ...         ...                ...
95           96   Emp_96    Finance   93734          19                  4
96           97   Emp_97      Sales  100467          22                  2
97           98   Emp_98         IT   82662          23                  3
98           99   Emp_99         IT   42688          22                  1
99          100  Emp_100         HR   55342          14                  3

[100 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        100 non-null    int64
 1   Name               100 non-null    object
 2   Department         100 non-null    object
 3   Salary             100 non-null    int64
 4   Experience         100 non-null    int64
 5   Performance_Score  100 non-null    int64
dtypes: int64(4), object(2)
memory usage: 4.8+ KB

In [7]:
df.columns

Index(['Employee_ID', 'Name', 'Department', 'Salary', 'Experience',
       'Performance_Score'],
      dtype='object')

In [8]:
df.describe()

       Employee_ID         Salary  Experience  Performance_Score
count   100.000000     100.000000  100.000000          100.00000
mean     50.500000   77508.090000   12.090000            3.03000
std      29.011492   26083.327596    7.543939            1.41746
min       1.000000   30206.000000    1.000000            1.00000
25%      25.750000   54347.500000    5.000000            2.00000
50%      50.500000   80932.000000   12.000000            3.00000
75%      75.250000   97620.500000   19.000000            4.00000
max     100.000000  119474.000000   24.000000            5.00000

In [9]:
def salary_category(salary):
    if salary < 50000:
        return "Low"
    elif 50000 <= salary < 80000:
        return "Medium"
    else:
        return "High"

In [10]:
df["Salary"].apply(salary_category)

0       High
1     Medium
2        Low
3     Medium
4       High
       ...
95      High
96      High
97      High
98       Low
99    Medium
Name: Salary, Length: 100, dtype: object

In [11]:
df["salary_category"] = df["Salary"].apply(salary_category)

In [12]:
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category
0,1,Emp_1,Marketing,82251,6,5,High
1,2,Emp_2,Sales,52662,24,3,Medium
2,3,Emp_3,Finance,38392,5,3,Low
3,4,Emp_4,Sales,60535,20,3,Medium
4,5,Emp_5,Sales,108603,2,2,High
...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High
96,97,Emp_97,Sales,100467,22,2,High
97,98,Emp_98,IT,82662,23,3,High
98,99,Emp_99,IT,42688,22,1,Low
99,100,Emp_100,HR,55342,14,3,Medium

In [13]:
def adjust_performance(experience):
    if experience > 10:
        return 1
    else:
        return 0

In [14]:
df["Experience"].apply(adjust_performance)

0     0
1     1
2     0
3     1
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: Experience, Length: 100, dtype: int64

In [15]:
df["Adjusted"] = df["Experience"].apply(adjust_performance)
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category,Adjusted
0,1,Emp_1,Marketing,82251,6,5,High,0
1,2,Emp_2,Sales,52662,24,3,Medium,1
2,3,Emp_3,Finance,38392,5,3,Low,0
3,4,Emp_4,Sales,60535,20,3,Medium,1
4,5,Emp_5,Sales,108603,2,2,High,0
...,...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High,1
96,97,Emp_97,Sales,100467,22,2,High,1
97,98,Emp_98,IT,82662,23,3,High,1
98,99,Emp_99,IT,42688,22,1,Low,1
99,100,Emp_100,HR,55342,14,3,Medium,1

In [17]:
df["New_Score"] = df["Performance_Score"] + df["Adjusted"]
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category,Adjusted,New_Score
0,1,Emp_1,Marketing,82251,6,5,High,0,5
1,2,Emp_2,Sales,52662,24,3,Medium,1,4
2,3,Emp_3,Finance,38392,5,3,Low,0,3
3,4,Emp_4,Sales,60535,20,3,Medium,1,4
4,5,Emp_5,Sales,108603,2,2,High,0,2
...,...,...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High,1,5
96,97,Emp_97,Sales,100467,22,2,High,1,3
97,98,Emp_98,IT,82662,23,3,High,1,4
98,99,Emp_99,IT,42688,22,1,Low,1,2
99,100,Emp_100,HR,55342,14,3,Medium,1,4

In [22]:
df.drop(["Adjusted", "New_Score"], axis = 1, inplace = True)

In [23]:
def adjust_new(row):
    if row["Experience"] > 10:
        return row["Performance_Score"] + 1
    else:
        return row["Performance_Score"]

In [24]:
df["Adjusted_Performance"] = df.apply(adjust_new, axis = 1)
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category,Adjusted_Performance
0,1,Emp_1,Marketing,82251,6,5,High,5
1,2,Emp_2,Sales,52662,24,3,Medium,4
2,3,Emp_3,Finance,38392,5,3,Low,3
3,4,Emp_4,Sales,60535,20,3,Medium,4
4,5,Emp_5,Sales,108603,2,2,High,2
...,...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High,5
96,97,Emp_97,Sales,100467,22,2,High,3
97,98,Emp_98,IT,82662,23,3,High,4
98,99,Emp_99,IT,42688,22,1,Low,2
99,100,Emp_100,HR,55342,14,3,Medium,4

In [30]:
df["Formated_Name"] = df["Name"].apply(lambda x: x.replace("_", " "))
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category,Adjusted_Performance,Formated_Name
0,1,Emp_1,Marketing,82251,6,5,High,5,Emp 1
1,2,Emp_2,Sales,52662,24,3,Medium,4,Emp 2
2,3,Emp_3,Finance,38392,5,3,Low,3,Emp 3
3,4,Emp_4,Sales,60535,20,3,Medium,4,Emp 4
4,5,Emp_5,Sales,108603,2,2,High,2,Emp 5
...,...,...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High,5,Emp 96
96,97,Emp_97,Sales,100467,22,2,High,3,Emp 97
97,98,Emp_98,IT,82662,23,3,High,4,Emp 98
98,99,Emp_99,IT,42688,22,1,Low,2,Emp 99
99,100,Emp_100,HR,55342,14,3,Medium,4,Emp 100

In [ ]:
df.drop(["Adjusted_Performance","Formated_Name"], axis = 1, inplace = True)
df

,Employee_ID,Name,Department,Salary,Experience,Performance_Score,salary_category
0,1,Emp_1,Marketing,82251,6,5,High
1,2,Emp_2,Sales,52662,24,3,Medium
2,3,Emp_3,Finance,38392,5,3,Low
3,4,Emp_4,Sales,60535,20,3,Medium
4,5,Emp_5,Sales,108603,2,2,High
...,...,...,...,...,...,...,...
95,96,Emp_96,Finance,93734,19,4,High
96,97,Emp_97,Sales,100467,22,2,High
97,98,Emp_98,IT,82662,23,3,High
98,99,Emp_99,IT,42688,22,1,Low
99,100,Emp_100,HR,55342,14,3,Medium