# DataFrame

df'in icerisinde bir ya da birden fazla sutunu secmek

df'in icerisinde bir ya da birden fazla satiri secmek

df'in icerisine sutun ve satir ekleme

In [2]:
import numpy as np
import pandas as pd

In [3]:
# pd.DataFrame() ile olusturulur

In [ ]:
my_data1 = np.random.randint(0, 101, (5, 4))
my_data1

array([[49,  0,  4, 50],
       [96, 67, 43, 11],
       [62, 37, 13, 17],
       [47,  2, 73, 72],
       [86, 82, 97, 93]], dtype=int32)

In [ ]:
pd.DataFrame(my_data1) # dataframe olusturuldu

    0   1   2   3
0  49   0   4  50
1  96  67  43  11
2  62  37  13  17
3  47   2  73  72
4  86  82  97  93

In [ ]:
my_index = ["TR", "BR", "USA", "RU"] # satir isimleri
my_cols = ["Jan", "Feb", "Mar"] # sutun isimleri
my_data2 = np.random.randint(10, 100, (4, 3)) # 4 satir 3 sutunluk rastgele sayilar

In [ ]:
pd.DataFrame(data = my_data2, index = my_index, columns = my_cols) # dataframe olustururken parametre isimlerini de kullanabiliriz

     Jan  Feb  Mar
TR    14   87   13
BR    14   97   53
USA   24   14   42
RU    70   10   35

In [ ]:
df = pd.DataFrame(my_data2, my_index, my_cols) # dataframe'i bir degiskene atayabiliriz
df

     Jan  Feb  Mar
TR    14   87   13
BR    14   97   53
USA   24   14   42
RU    70   10   35

In [22]:
df.index = ["KR", "BR", "USA", "RU"] # index isimlerini degistirebiliriz 
df.columns = ["January", "February", "March"] #ayni sekilde sutun isimlerini de degistirebiliriz: 
df

     January  February  March
KR        14        87     13
BR        14        97     53
USA       24        14     42
RU        70        10     35

In [23]:
df.info() # dataframe icindeki butun sutunlarin temel bilgilerini gorebiliriz
# non-null count: null olmayan deger sayisi
# dtype: veri tipi

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, KR to RU
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   January   4 non-null      int32
 1   February  4 non-null      int32
 2   March     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

# Hazir Bir Data Cagirmak

In [31]:
cafe_sales_df = pd.read_csv("csv1.csv") # bu .ipynb dosyasi ile ayni yerde olan csv dosyasi bu sekilde okunur. eger ayni klasorde degilse dosya yolu yazilir
cafe_sales_df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07