# Pandas Nedir?

Acik Kaynakli ve Ucretsiz Veri Isleme, Manipule Etme, Temizleme vb. Islemleri Yapabilecegimiz Efektif Bir Kutuphane

NumPy uzerine kurulu bir kutuphane

Veriyi sekillendirip islemeye ve veriden anlamli sonuclar cÄ±karmayi saglar

Temel elemanlari : Series, DataFrame

In [2]:
import pandas as pd

In [ ]:
name_list = ["Emre", "Merve", "Tost", "Panda"]
name_list

['Emre', 'Merve', 'Tost', 'Panda']

In [ ]:
pd.Series(name_list) # --> pandas serisi olusturur

0     Emre
1    Merve
2     Tost
3    Panda
dtype: object

In [6]:
my_data = [1923, 1776, 1853]
my_indexes = ["TR", "US", "UK"]

In [ ]:
pd.Series(my_data, my_indexes) # --> indexleri belirleyerek pandas serisi olusturur

TR    1923
US    1776
UK    1853
dtype: int64

***pd.Series() icine sozlukler de girebilir***

In [14]:
my_dict = {
    "Emre" : 21,
    "Merve" : 20,
    "Elif" : 1
}

In [15]:
pd.Series(my_dict)

Emre     21
Merve    20
Elif      1
dtype: int64

In [16]:
my_cities = ["Istanbul", "Izmir", "Ankara", "Bursa"]
my_population = [15.4, 4.3, 5.6, 3.1]

In [ ]:
pd.Series(my_population, my_cities) # --> indexleri belirleyerek pandas serisi olusturur

15.4    Istanbul
4.3        Izmir
5.6       Ankara
3.1        Bursa
dtype: object

# Serilerde Islemler

In [18]:
q1 = {
    "Japan" : 180,
    "China" : 450,
    "USA" : 300,
    "Turkey" : 100
}

q2 = {
    
    "Japan" : 220,
    "China" : 550,
    "USA" : 370,
    "Turkey" : 120
}

In [ ]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     180
China     450
USA       300
Turkey    100
dtype: int64

In [21]:
sales_q2

Japan     220
China     550
USA       370
Turkey    120
dtype: int64

In [27]:
sales_total = sales_q1 + sales_q2 # Toplama islemi yapar
sales_total

Japan      400
China     1000
USA        670
Turkey     220
dtype: int64

In [ ]:
sales_q2 - sales_q1 # Cikarma islemi yapar

Japan      40
China     100
USA        70
Turkey     20
dtype: int64

In [ ]:
sales_total.index # indexleri gosterir

Index(['Japan', 'China', 'USA', 'Turkey'], dtype='object')

In [ ]:
sales_total.values # degerleri gosterir

array([ 400, 1000,  670,  220])

In [ ]:
sales_total.keys() # indexleri gosterir

Index(['Japan', 'China', 'USA', 'Turkey'], dtype='object')

In [31]:
sales_total * 2 # Carpma islemi yapar

Japan      800
China     2000
USA       1340
Turkey     440
dtype: int64

In [32]:
sales_total / 2 # Bolme islemi yapar

Japan     200.0
China     500.0
USA       335.0
Turkey    110.0
dtype: float64

In [36]:
q3 = {
    "Korean" : 180,
    "China" : 450,
    "India" : 300,
    "Germany" : 250
}

q4 = {
    "Brazil" : 160,
    "China" : 400,
    "India" : 320,
    "Germany" : 270
}

In [37]:
sales_q3 = pd.Series(q3)
sales_q4 = pd.Series(q4)

In [ ]:
sales_q3 + sales_q4 # ortak indexlere gore toplama islemi yapar, ortak olmayan indexler icin NaN degeri verir

Brazil       NaN
China      850.0
Germany    520.0
India      620.0
Korean       NaN
dtype: float64

In [43]:
sales_q3.add(sales_q4, fill_value = 0) 
# ortak indexlere gore toplama islemi yapar, ortak olmayan indexler icin hangi series icinde varsa onun degerini alir
# fill_value parametresi ile ortak olmayan indexler icin kullanilacak degeri belirleyebiliriz

Brazil     160.0
China      850.0
Germany    520.0
India      620.0
Korean     180.0
dtype: float64

In [ ]:
sales_q1.dtype # serinin veri tipini gosterir

dtype('int64')

In [49]:
league_2020 = pd.Series(data = {"Galatasaray" : 84, "Fenerbahce" : 82, "Besiktas" : 84, "Trabzonspor" : 71})
league_2021 = pd.Series(data = {"Galatasaray" : 68, "Fenerbahce" : 73, "Besiktas" : 59, "Trabzonspor" : 81})
league_2022 = pd.Series(data = {"Galatasaray" : 60, "Fenerbahce" : 51, "Besiktas" : 48, "Trabzonspor" : 41})

In [50]:
league_2020 + league_2021 + league_2022

Galatasaray    212
Fenerbahce     206
Besiktas       191
Trabzonspor    193
dtype: int64