1) df_tips içindeki Payment ID column'unun son 3 rakamını çekin. Bu işlemi 3 farklı yolla da yapmaya çalışın.
2) df_tips içindeki Payer Name sütununda isim ve soy isim bilgileri bulunuyor. O sütundan sadece isim bilgileri çekin ve 'JustName' adında yeni bir column oluşturun. (Bu biraz zorlayıcı olabilir, Önce kendiniz yapmaya çalışın fakat yapamazsanız ChatGPT'ye soruyu düzgünce sorarak cevabını kod olarak alabilirsiniz, ardından döndürülen kodu anlamaya çalışmanız yeterlidir.)
3) 2.Soruda yeni oluşturduğunuz 'JustName' sütunundaki verilerin her birinden kaç tane olduğuna uygun methodu kullanarak bakın.
4) 3.Soruda gördüğünüz gibi JustName sütununda 'Jason' isminden 9 tane, 'Michael' isminden 7 tane , 'James' isminden 6 tane bulunuyor. Peki bunların hepsi gerçekten farklı kişiler mi ? Hemen 'Payer Name' sütunundaki verilerin adetlerini de saydırtarak bir kıyaslama yapın. 'JustName' sütununu kullanmanın faydasız ve yanıltıcı olabileceğini görün ardından oluşturduğumuz 'JustName' sütununu kalıcı olarak drop edin. (Oluşturmanız için bir pratikti bu sütun sadece :D)

In [2]:
import numpy as np
import pandas as pd

In [46]:
df_tips = pd.read_csv("tips.csv")
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [4]:
df_tips["Payment ID"].astype(str).str[-3:]

0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [5]:
df_tips["Payer Name"]

0      Christy Cunningham
1          Douglas Tucker
2          Travis Walters
3        Nathaniel Harris
4            Tonya Carter
              ...
239         Michael Avila
240        Monica Sanders
241            Keith Wong
242          Dennis Dixon
243       Michelle Hardin
Name: Payer Name, Length: 244, dtype: object

In [6]:
df_tips["Just_Name"] = df_tips["Payer Name"].str.split().str[0]

In [7]:
df_tips

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,Just_Name
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,Nathaniel
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,Tonya
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,Michael
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,Monica
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,Keith
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,Dennis
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,Michelle

In [9]:
df_tips["Just_Name"].value_counts()

Just_Name
Jason       9
Michael     7
James       6
David       6
Joseph      5
           ..
Sean        1
Kimberly    1
Monica      1
Dennis      1
Michelle    1
Name: count, Length: 153, dtype: int64

In [10]:
df_tips["Payer Name"].value_counts()

Payer Name
Christy Cunningham    1
Douglas Tucker        1
Travis Walters        1
Nathaniel Harris      1
Tonya Carter          1
                     ..
Michael Avila         1
Monica Sanders        1
Keith Wong            1
Dennis Dixon          1
Michelle Hardin       1
Name: count, Length: 244, dtype: int64

In [ ]:
# Payer Name sutunundaki herkes farklı kisilerden olusuyor. Ayrica Just_Name sutunundaki en cok tekrar eden isim "John" dur.

In [11]:
df_tips.drop("Just_Name", axis = 1, inplace = True)

In [12]:
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

5) Erkeklerin ve kadınların davranış patternlerini ayrı ayrı inceleyip yorumda bulunabilmek için 'df_male' ve 'df_female' adında 2 dataframe oluşturun. Birinde sadece 157 erkek verisi, diğerinde sadece 87 kadın verisi bulunsun.
6) Ardından bu 'df_male' ile 'df_female' 'in ödedikleri bahşişler toplamını bulup karşılaştırın.
7) 6.Soruda erkeklerin ve kadınların ödedikleri bahşişler toplamına bakıldığında Erkeklerin kadınlara kıyasla toplamda daha çok bahşiş ödediğini görüyoruz. Fakat biz biliyoruz ki bizim verimizde 157 Erkek, 87 kadın verisi vardı. Dolayısıyla Erkek sayısı daha fazla olduğu için toplam ödeyecekleri bahşiş miktarlarında da daha fazla çıkması oldukça normal bir durum. Bu yüzden daha mantıklı bir çıkarım için bu sefer df_male ile df_female'in bahşiş ORTALAMALARIN'a bakıp kıyaslayın, aralarında anlamlı ve ciddi bir fark var mı ?
8) Oluşturmuş olduğunuz df_male ile çalışarak elimizdeki verideki erkeklerin yüzde kaçının sigara içtiğini bulun. Aynı şekilde elimizdeki kadınların yüzde kaçının sigara içtiğini de bulun. Aralarında anlamlı bir fark mı yorumlayın.
9) Erkeklerin zaman olarak dinnerda mı yoksa lunch'da mı daha fazla yemek yediğini yüzdesel olarak bulun. Aynı işlemi kadınlar için de yapın. Yüzdesel olarak erkeklerin ve kadınların yemek yeme vakitleri arasında anlamlı bir fark var mı yok mu yorumlayın.
10) CC Number sütununu kalıcı olarak drop edin. Ardından df'in içindeki sütunların birbirleriyle olan ilişkilerini inceleyin ve çıkan sonuçlar hakkında yorumlarınızı belirtin.

In [17]:
df_female = df_tips[df_tips["sex"] == "Female"]
df_male = df_tips[df_tips["sex"] == "Male"]

In [18]:
df_male

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,Sun9679
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985
...,...,...,...,...,...,...,...,...,...,...,...
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
237,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4284722681265508,Sat2929
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17

In [19]:
df_female

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969,Sun6686
14,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,30016702287574,Sun3848
16,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4240025044626033,Sun9715
...,...,...,...,...,...,...,...,...,...,...,...
226,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5268689490381635,Fri6359
229,22.12,2.88,Female,Yes,Sat,Dinner,2,11.06,Jennifer Russell,4793003293608,Sat3943
238,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,676184013727,Sat9777
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [21]:
df_male["tip"].sum()

np.float64(485.07)

In [22]:
df_female["tip"].sum()

np.float64(246.50999999999996)

In [25]:
df_male["tip"].sum() - df_female["tip"].sum() # erkekler kadinlardan 238.56 daha fazla bahsis vermisler

np.float64(238.56000000000003)

In [26]:
df_female["tip"].mean()

np.float64(2.8334482758620685)

In [27]:
df_male["tip"].mean()

np.float64(3.0896178343949043)

In [ ]:
df_male["tip"].mean() - df_female["tip"].mean() # erkekler kadinlardan ortalama 0.2560 daha fazla bahsis vermisler

np.float64(0.25616955853283585)

In [30]:
df_male["smoker"].value_counts()

smoker
No     97
Yes    60
Name: count, dtype: int64

In [ ]:
(60 / (97 + 60)) * 100 # Erkeklerin %38.21'i sigara kullaniyor

38.21656050955414

In [34]:
df_female["smoker"].value_counts()

smoker
No     54
Yes    33
Name: count, dtype: int64

In [35]:
(33 / (54 + 33)) * 100 # Kadinlarin %37.93'u sigara kullaniyor

37.93103448275862

### erkekler ile kadinlarin sigara icme orani birbirine cok yakin

In [37]:
df_male["time"].value_counts()

time
Dinner    124
Lunch      33
Name: count, dtype: int64

In [39]:
(33 / (124 + 33)) * 100 # Erkeklerin %21.01'u ogle yemeginde, %78.99'si aksam yemeginde bulunmus

21.019108280254777

In [40]:
df_female["time"].value_counts()

time
Dinner    52
Lunch     35
Name: count, dtype: int64

In [42]:
(35 / (52 + 35)) * 100 # Kadinlarin %40.22'u ogle yemeginde, %59.78'si aksam yemeginde bulunmus

40.229885057471265

### kadinlar, erkeklere gore daha cok oglen yemegi yiyor

In [47]:
df_tips.drop("CC Number", axis = 1, inplace = True)
df_tips.corr(numeric_only = True)

                  total_bill       tip      size  price_per_person
total_bill          1.000000  0.675734  0.598315          0.647554
tip                 0.675734  1.000000  0.489299          0.347405
size                0.598315  0.489299  1.000000         -0.175359
price_per_person    0.647554  0.347405 -0.175359          1.000000

### birakilan bahsis ile toplam odeme arasinda yuksek bir oran var bu da demek oluyor ki odenen tutar arttikca bahsis tutari artiyor

### ayrica kisi sayisi arttikca da odenen toplam tutar orani artiyor