In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("csv1.csv")
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [4]:
df.head() # ilk 5 satiri getirir

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [5]:
df.head(3) # ilk 3 satiri getirir

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19

In [6]:
df.tail() # son 5 satiri getirir

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [7]:
df.tail(10) # son 10 satiri getirir

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9990,TXN_1538510,Coffee,5,2.0,10.0,Digital Wallet,NaN,2023-05-22
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,2023-02-24
9992,TXN_2739140,Smoothie,4,4.0,16.0,UNKNOWN,In-store,2023-07-05
9993,TXN_4766549,Smoothie,2,4.0,NaN,Cash,NaN,2023-10-20
9994,TXN_7851634,UNKNOWN,4,4.0,16.0,NaN,NaN,2023-01-08
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [8]:
df.sample(5) # rastgele 5 satiri getirir

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
3026,TXN_9942247,Coffee,2,2.0,UNKNOWN,Cash,Takeaway,2023-10-15
977,TXN_7470910,Salad,2,5.0,10.0,Cash,In-store,2023-11-22
2922,TXN_4641838,Cookie,5,1.0,5.0,Credit Card,NaN,2023-04-30
7587,TXN_3827851,Coffee,1,2.0,2.0,NaN,NaN,2023-01-09
283,TXN_1842675,ERROR,4,1.0,4.0,Credit Card,Takeaway,2023-06-23

In [9]:
df.shape # (satir sayisi, sutun sayisi)

(10000, 8)

In [10]:
df.columns # sutun isimleri

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [11]:
df.info() # veri seti hakkinda genel bilgi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [12]:
df.describe() # sayisal degiskenler icin ozet istatistikler

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [13]:
df.describe().T # sayisal degiskenler icin ozet istatistikler (transpoze)

                  count unique             top  freq
Transaction ID    10000  10000     TXN_1961373     1
Item               9667     10           Juice  1171
Quantity           9862      7               5  2013
Price Per Unit     9821      8             3.0  2429
Total Spent        9827     19             6.0   979
Payment Method     7421      5  Digital Wallet  2291
Location           6735      4        Takeaway  3022
Transaction Date   9841    367         UNKNOWN   159

***Column (Sutun) Islemleri***

In [14]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [15]:
df["Item"] # "Item" sutununu getirir

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9995      Coffee
9996         NaN
9997      Coffee
9998      Cookie
9999    Sandwich
Name: Item, Length: 10000, dtype: object

In [16]:
df[["Item"]] # "Item" sutununu dataframe olarak getirir

          Item
0       Coffee
1         Cake
2       Cookie
3        Salad
4       Coffee
...        ...
9995    Coffee
9996       NaN
9997    Coffee
9998    Cookie
9999  Sandwich

[10000 rows x 1 columns]

In [17]:
df[["Item", "Quantity", "Price Per Unit", "Total Spent"]] # birden fazla sutunu dataframe olarak getirir

          Item Quantity Price Per Unit Total Spent
0       Coffee        2            2.0         4.0
1         Cake        4            3.0        12.0
2       Cookie        4            1.0       ERROR
3        Salad        2            5.0        10.0
4       Coffee        2            2.0         4.0
...        ...      ...            ...         ...
9995    Coffee        2            2.0         4.0
9996       NaN        3            NaN         3.0
9997    Coffee        4            2.0         8.0
9998    Cookie        3            NaN         3.0
9999  Sandwich        3            4.0        12.0

[10000 rows x 4 columns]

In [18]:
df["Quantity"].head().astype(float) * df["Price Per Unit"].head().astype(float) # iki sutunla islem yapma
# astype(float) ile donusum yapmamizin nedeni bizim csv dosyasinda verilerin object (string) olarak okunmasi
# eger sectigimiz satirlarda UNKNOWN vb. deger olursa hata verir

0     4.0
1    12.0
2     4.0
3    10.0
4     4.0
dtype: float64

In [19]:
df["ilk_bes_satir_toplam"] = df["Quantity"].head().astype(float) * df["Price Per Unit"].head().astype(float)

In [20]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31,NaN
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06,NaN
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28,NaN
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28,NaN
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31,NaN

In [21]:
df.drop("ilk_bes_satir_toplam", axis = 1) # belirtilen sutunu siler (kalici degildir), axis=1 sutun islemi oldugunu belirtir
# df.drop("ilk_bes_satir_toplam", axis = 1, inplace=True) # inplace = True --> kalici silme islemi yapar

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [22]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0

In [23]:
df.drop(["Item", "Quantity"], axis = 1) # birden fazla sutunu siler (kalici degildir)

,Transaction ID,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
0,TXN_1961373,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
1,TXN_4977031,3.0,12.0,Cash,In-store,2023-05-16,12.0
2,TXN_4271903,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
3,TXN_7034554,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
4,TXN_3160411,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0
...,...,...,...,...,...,...,...
9995,TXN_7672686,2.0,4.0,NaN,UNKNOWN,2023-08-30,NaN
9996,TXN_9659401,NaN,3.0,Digital Wallet,NaN,2023-06-02,NaN
9997,TXN_5255387,2.0,8.0,Digital Wallet,NaN,2023-03-02,NaN
9998,TXN_7695629,NaN,3.0,Digital Wallet,NaN,2023-12-02,NaN
9999,TXN_6170729,4.0,12.0,Cash,In-store,2023-11-07,NaN

***Satir (Row) Islemleri***

satir cekme islemleri .loc ve .iloc metodlari ile yapilir

In [25]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0

In [26]:
# "Transaction ID" sutununu index olarak ayarlar, drop = True ile sutunu siler, inplace = True ile kalici yapar
df.set_index("Transaction ID", drop = True, inplace = True)

In [27]:
df.head()

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
Transaction ID,,,,,,,,
TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0

In [29]:
df.iloc[0] # ilk satiri secer

Item                         Coffee
Quantity                          2
Price Per Unit                  2.0
Total Spent                     4.0
Payment Method          Credit Card
Location                   Takeaway
Transaction Date         2023-09-08
ilk_bes_satir_toplam            4.0
Name: TXN_1961373, dtype: object

In [30]:
df.loc["TXN_4977031"] # "TXN_4977031" indexli satiri secer

Item                          Cake
Quantity                         4
Price Per Unit                 3.0
Total Spent                   12.0
Payment Method                Cash
Location                  In-store
Transaction Date        2023-05-16
ilk_bes_satir_toplam          12.0
Name: TXN_4977031, dtype: object

In [31]:
# .iloc ve .loc arasindaki fark:
# .iloc: integer index ile satir secimi yapar, satir numarasina gore secim yapar
# .loc: label index ile satir secimi yapar, index degerine gore secim yapar
# yani .iloc ile satir numarasini, .loc ile index degerini kullanarak secim yapariz

In [36]:
df.loc["TXN_1961373": "TXN_7034554"] # "TXN_1961373" ile "TXN_7034554" arasindaki satirlari secer, # "TXN_1961373" ve "TXN_7034554" dahil

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
Transaction ID,,,,,,,,
TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0

In [37]:
df.iloc[0: 4] # ilk 4 satiri secer (integer index ile), # 0, 1, 2, 3 indexli satirlari getirir, 4. indexli satiri getirmez

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
Transaction ID,,,,,,,,
TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,12.0
TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0

In [ ]:
df.drop("TXN_4977031", axis = 0) # "TXN_4977031" indexli satiri siler (kalici degildir), axis=0 satir islemi oldugunu belirtir
# axis = 0 yazmasak da olur, default olarak satir islemi yapar

,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,ilk_bes_satir_toplam
Transaction ID,,,,,,,,
TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,4.0
TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19,4.0
TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27,10.0
TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,4.0
TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31,NaN
...,...,...,...,...,...,...,...,...
TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30,NaN
TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02,NaN
TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02,NaN
TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02,NaN
TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07,NaN

In [39]:
# Bir sutunu index olarak atayip daha sonra baska bir sutunu index olarak atamak istersek .set_index() icine append = True yazarsak onceki sutun geri gelir

***DataFrame'de Sorgu Islemleri***

In [45]:
df = pd.DataFrame({"Year" : [1776, 1867, 1821], "Pop" : [328, 38, 126], "GDP" : [20.5, 1.7, 1.22]}, index = ["USA", "Canada", "Mexico"])
df

        Year  Pop    GDP
USA     1776  328  20.50
Canada  1867   38   1.70
Mexico  1821  126   1.22

In [ ]:
df["Pop"] > 50 # "Pop" sutunundaki degerlerin 50'den buyuk olup olmadigini kontrol eder, boolean deger dondurur

USA        True
Canada    False
Mexico     True
Name: Pop, dtype: bool

In [50]:
df[df["Pop"] > 50] # "Pop" sutunundaki degerleri 50'den buyuk olan satirlari DataFrame olarak getirir

        Year  Pop    GDP
USA     1776  328  20.50
Mexico  1821  126   1.22

In [51]:
df["Year"] > 1800 # "Year" sutunundaki degerlerin 1800'den buyuk olup olmadigini kontrol eder, boolean deger dondurur

USA       False
Canada     True
Mexico     True
Name: Year, dtype: bool

In [52]:
df[df["Year"] > 1800] # "Year" sutunundaki degerleri 1800'den buyuk olan satirlari DataFrame olarak getirir

        Year  Pop   GDP
Canada  1867   38  1.70
Mexico  1821  126  1.22

In [ ]:
df[(df["Year"] > 1800) & (df["Pop"] < 200)] # "Year" sutunundaki degerleri 1800'den buyuk VE "Pop" sutunundaki degerleri 200'den kucuk olan satirlari getirir

        Year  Pop   GDP
Canada  1867   38  1.70
Mexico  1821  126  1.22

In [ ]:
df[(df["Year"] == 1776) | (df["GDP"] < 1.5)] # "Year" sutununda 1776 degeri olan VEYA "GDP" sutunundaki degerleri 1.5'den kucuk olan satirlari getirir

        Year  Pop    GDP
USA     1776  328  20.50
Mexico  1821  126   1.22

In [57]:
# & ile | arasindaki fark : & (ve) her iki kosulun da dogru olmasini gerektirirken, | (veya) en az bir kosulun dogru olmasini gerektirir.

In [60]:
# "Year" sutununda 1776 degeri olan VEYA "GDP" sutunundaki degerleri 1.5'den kucuk OLAN VEYA "Pop" sutunundaki degerleri 30'dan buyuk olan satirlari getirir
df[(df["Year"] == 1776) | (df["GDP"] < 1.5) | (df["Pop"] > 30)]

        Year  Pop    GDP
USA     1776  328  20.50
Canada  1867   38   1.70
Mexico  1821  126   1.22

In [ ]:
# ustteki ornek ile alttaki ornek arasindaki fark: daha fazla olan sorgularda alttaki ornek hem performans acisindan hem de maliyet acisindan daha ondedir

In [63]:
df.isin([1776, 328, 1.7]) # belirtilen degerlerin DataFrame'de olup olmadigini kontrol eder, boolean deger dondurur

         Year    Pop    GDP
USA      True   True  False
Canada  False  False   True
Mexico  False  False  False

In [64]:
df[df.isin([1776, 328, 1.7])] # belirtilen degerlerin bulundugu satirlari getirir

          Year    Pop  GDP
USA     1776.0  328.0  NaN
Canada     NaN    NaN  1.7
Mexico     NaN    NaN  NaN

In [72]:
df[df["Year"].isin([1776, 1821])] # "Year" sutununda belirtilen degerlerin bulundugu satirlari getirir

        Year  Pop    GDP
USA     1776  328  20.50
Mexico  1821  126   1.22

In [ ]:
df[df["Pop"] != 328] # "Pop" sutununda 328 degerine esit olmayan satirlari getirir

        Year  Pop   GDP
Canada  1867   38  1.70
Mexico  1821  126  1.22

In [77]:
df[~(df["GDP"] == 1.22)] # ~ isareti : verilen kosulun tersini alir, yani "GDP" sutununda 1.22 degerine esit olmayan satirlari getirir

        Year  Pop   GDP
USA     1776  328  20.5
Canada  1867   38   1.7