mpg.csv dosyasını okuyun ve df değişkenine atayın.

1) df'in içindeki sütunların birbirleriyle olan korelasyonlarına(ilişkilerine) bakın.
2) mpg sütunu ile diğer sütunların arasındaki korelasyonları özel olarak inceleyin.(Bunu göstermedik ama df.corr() çağırdıktan sonra aynı normal df'lerde olduğu gibi istediğiniz sütunu çağırabiliyorsunuz.)
3) cylinders sütununda hangi unique değerler olduğuna liste halinde bakın.
4) cylinders sütunundaki unique değerlerin her birinden kaçar adet olduğuna bakın.
5) Arabanın modeli 75-80 yılları arasındaki arabaların hepsini getirin.(75 ve 80 dahil)
6) horsepower'ı 155-180 arasındaki arabaların hepsini getirin.(155 dahil, 180 dahil değil)(Bu sorguyu yapabilmeniz için horsepower sütununu object durumdan float duruma getirmeniz gerekiyor.)
7) Elinizdeki df'i horsepower'a göre büyükten küçüğe sıralayın ardından df'in indexlerini sıfırlayın.
8) Elinizdeki df'den en küçük 5 acceralation'a sahip olan arabaları getirin.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_mpg = pd.read_csv("mpg.csv")
df_mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
df_mpg.corr(numeric_only = True)

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model_year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [18]:
df_mpg[["mpg", "cylinders"]].corr(numeric_only = True)

                mpg  cylinders
mpg        1.000000  -0.775396
cylinders -0.775396   1.000000

In [19]:
df_mpg["cylinders"].unique()

array([8, 4, 6, 3, 5])

In [21]:
df_mpg["cylinders"].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [23]:
df_mpg[df_mpg["model_year"].between(75, 80, inclusive = "both")]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
152,19.0,6,225.0,95,3264,16.0,75,1,plymouth valiant custom
153,18.0,6,250.0,105,3459,16.0,75,1,chevrolet nova
154,15.0,6,250.0,72,3432,21.0,75,1,mercury monarch
155,15.0,6,250.0,72,3158,19.5,75,1,ford maverick
156,16.0,8,400.0,170,4668,11.5,75,1,pontiac catalina
...,...,...,...,...,...,...,...,...,...
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs
335,35.0,4,122.0,88,2500,15.1,80,2,triumph tr7 coupe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
337,32.4,4,107.0,72,2290,17.0,80,3,honda accord

In [27]:
df_mpg[df_mpg["horsepower"].replace("?", np.nan).astype("float").between(155, 180, "left")]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
38,14.0,8,350.0,165,4209,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175,4464,11.5,71,1,pontiac catalina brougham
43,13.0,8,400.0,170,4746,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175,5140,12.0,71,1,pontiac safari (sw)
62,13.0,8,350.0,165,4274,12.0,72,1,chevrolet impala
63,14.0,8,400.0,175,4385,12.0,72,1,pontiac catalina
68,13.0,8,350.0,155,4502,13.5,72,1,buick lesabre custom
69,12.0,8,350.0,160,4456,13.5,72,1,oldsmobile delta 88 royale
85,13.0,8,350.0,175,4100,13.0,73,1,buick century 350
92,13.0,8,351.0,158,4363,13.0,73,1,ford ltd
96,13.0,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
104,12.0,8,400.0,167,4906,12.5,73,1,ford country
105,13.0,8,360.0,170,4654,13.0,73,1,plymouth custom suburb
156,16.0,8,400.0,170,4668,11.5,75,1,pontiac catalina
230,15.5,8,350.0,170,4165,11.4,77,1,chevrolet monte carlo landau
263,17.7,6,231.0,165,3445,13.4,78,1,buick regal sport coupe (turbo)
289,16.9,8,350.0,155,4360,14.9,79,1,buick estate wagon (sw)

In [29]:
df_mpg.sort_values("horsepower").reset_index(drop = True)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,20.5,6,225.0,100,3430,17.2,78,1,plymouth volare
1,20.0,6,225.0,100,3651,17.7,76,1,dodge aspen se
2,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs
3,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
4,18.0,6,232.0,100,2945,16.0,73,1,amc hornet
...,...,...,...,...,...,...,...,...,...
393,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
394,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
395,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
396,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
397,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl

In [43]:
df_mpg["acceleration"].nsmallest(5)

11    8.0
7     8.5
9     8.5
6     9.0
12    9.5
Name: acceleration, dtype: float64

--- CIA_Country_Facts.csv dosyasını okuyun ve yeniden df değişkenine atayın.(Artık eski df ile işimiz kalmadığı için aynı ismi verebiliriz.)

9) Elimizdeki CIA'in ülkeler hakkında topladığı basit açık kaynak verileri df'inde kaç ülkenin verisi olduğunu bulun.

10) Elimizdeki sütunlardan hangilerinde kaçar tane nan veri olduğunu bulun.

11) Elimizde tamamen nan değerlerden oluşan bir satır varsa o satırı düşürün.(Tamamen nan değerlerden oluşan bir satır olup olmadığını, herhangi bir satırın düşüp düşmediğini kontrol edin)

12) Her Bölgedeki(Region) toplam kişi sayısına bakın.

13) Climate değerleri nan olanlar, tüm df'in ortalama climate değeriyle doldurun.(Gerçek bir analiz yapıyor olsaydık bu çok mantıklı bir hareket olmazdı, belki her bulunduğu bölgenin ortalama climate değeriyle doldurmak daha mantıklı bir hareket olurdu. Fakat şimdilik bu kadar kasmaya gerek yok. nan değerleri tüm climate ortalamalarıyla doldursanız yeterli.)

14) Bölgeler ve Ülkelere göre gruplama yapın ardından Doğum miktarlarına bakın.

15) Veriyi istediğiniz şekilde inceleyerek bu zamana kadar öğrendiğiniz bilgilerle anlamlı 5 adet yargı cümlesi çıkartın. ( En çok insan Asya kıtasında yaşıyor, En çok insan Afrinın sahralarında ölüyor, Ortalama en yüksek telefon sahibi Kuzey Amerikada, En çok okuma yazma oranına sahip ülkeler Baltık ülkeleri vb.)

In [55]:
df_ccf = pd.read_csv("CIA_Country_Facts.csv")
df_ccf

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [48]:
df_ccf["Country"].count()

np.int64(227)

In [49]:
df_ccf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [58]:
df_ccf.isna().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [59]:
df_ccf.dropna(how = "all")

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [65]:
df_ccf.groupby("Region")["Population"].sum()

Region
ASIA (EX. NEAR EAST)                   3687982236
BALTICS                                   7184974
C.W. OF IND. STATES                     280081548
EASTERN EUROPE                          119914717
LATIN AMER. & CARIB                     561824599
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
NORTHERN AMERICA                        331672307
OCEANIA                                  33131662
SUB-SAHARAN AFRICA                      749437000
WESTERN EUROPE                          396339998
Name: Population, dtype: int64

In [66]:
df_ccf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [67]:
df_ccf.isna().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [68]:
df_ccf["Climate"].fillna(df_ccf["Climate"].mean())

0      1.0
1      3.0
2      1.0
3      2.0
4      3.0
      ...
222    3.0
223    1.0
224    1.0
225    2.0
226    2.0
Name: Climate, Length: 227, dtype: float64

In [ ]:
df_ccf.groupby(["Region", "Country"])["Birthrate"].mean()

Region                               Country
ASIA (EX. NEAR EAST)                 Afghanistan       46.60
                                     Bangladesh        29.80
                                     Bhutan            33.65
                                     Brunei            18.79
                                     Burma             17.91
                                                       ...
WESTERN EUROPE                       San Marino        10.02
                                     Spain             10.06
                                     Sweden            10.27
                                     Switzerland        9.71
                                     United Kingdom    10.71
Name: Birthrate, Length: 227, dtype: float64

In [76]:
df_ccf.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [77]:
df_ccf.groupby("Region")["Population"].sum().sort_values(ascending=False)

Region
ASIA (EX. NEAR EAST)                   3687982236
SUB-SAHARAN AFRICA                      749437000
LATIN AMER. & CARIB                     561824599
WESTERN EUROPE                          396339998
NORTHERN AMERICA                        331672307
C.W. OF IND. STATES                     280081548
NEAR EAST                               195068377
NORTHERN AFRICA                         161407133
EASTERN EUROPE                          119914717
OCEANIA                                  33131662
BALTICS                                   7184974
Name: Population, dtype: int64

In [78]:
# Nufusu en yuksek olan bolge Asya bolgesidir.

In [82]:
df_ccf.groupby("Country")["Area (sq. mi.)"].sum().sort_values()

Country
Monaco                  2
Gibraltar               7
Nauru                  21
Tuvalu                 26
Macau                  28
                   ...
Brazil            8511965
China             9596960
United States     9631420
Canada            9984670
Russia           17075200
Name: Area (sq. mi.), Length: 227, dtype: int64

In [83]:
# Alani en kucuk olan ulke Monaco'dur.

In [84]:
df_ccf.groupby("Country")["Area (sq. mi.)"].sum().sort_values(ascending=False)

Country
Russia           17075200
Canada            9984670
United States     9631420
China             9596960
Brazil            8511965
                   ...
Macau                  28
Tuvalu                 26
Nauru                  21
Gibraltar               7
Monaco                  2
Name: Area (sq. mi.), Length: 227, dtype: int64

In [85]:
# Alani en buyuk olan ulke Rusya'dir.

In [86]:
df_ccf.groupby("Country")["Deathrate"].sum().sort_values()

Country
Cook Islands           0.00
Wallis and Futuna      0.00
Western Sahara         0.00
Serbia                 0.00
N. Mariana Islands     2.29
                      ...
Liberia               23.10
Angola                24.20
Lesotho               28.71
Botswana              29.50
Swaziland             29.74
Name: Deathrate, Length: 227, dtype: float64

In [87]:
# Olum orani en yuksek olan ulke Swaziland'dir.

In [88]:
df_ccf.groupby("Country")["Birthrate"].sum().sort_values()

Country
Western Sahara        0.00
Wallis and Futuna     0.00
Serbia                0.00
Hong Kong             7.29
Germany               8.25
                     ...
Sierra Leone         45.76
Afghanistan          46.60
Uganda               47.35
Mali                 49.82
Niger                50.73
Name: Birthrate, Length: 227, dtype: float64

In [89]:
# Dogum orani en yuksek olan ulke Niger'dir.

In [94]:
df_ccf.groupby("Country")["Phones (per 1000)"].mean().sort_values()

Country
Congo, Dem. Rep.           0.2
Chad                       1.3
Niger                      1.9
Central African Rep.       2.3
Liberia                    2.3
                         ...
Monaco                  1035.6
Cyprus                     NaN
East Timor                 NaN
Montserrat                 NaN
Western Sahara             NaN
Name: Phones (per 1000), Length: 227, dtype: float64

In [91]:
# 1000 kisi basina en fazla telefon dusen ulke Monaco'dur.

In [103]:
df_ccf[df_ccf["Country"] == "Turkey"]["Phones (per 1000)"]

206    269.5
Name: Phones (per 1000), dtype: float64

In [104]:
# Turkiye'de 1000 kisi basina dusen telefon sayisi 200'un ustundedir.